<div class="app_top"><h4>社区银行</h4>
银行,充值相关	
</div>
<div class="l">
	<div id="pm_left">
		<div class="tabs">
			
			<?php foreach( $tab_array  as $key=>$tab ) : ?>
			<?php if( $tab_type == $key ): ?>
			<li class="out"><a href="/app/native/<?=$GLOBALS['app']?>/<?php echo $key; ?>"><?php echo $tab; ?></a></li>
			<?php else: ?>
			<li ><a href="/app/native/<?=$GLOBALS['app']?>/<?php echo $key; ?>"><?php echo $tab; ?></a></li>
			<?php endif; ?>		
			<?php endforeach; ?>	

		</div>
		<div class="p2">
		<h2>社区银行欢迎你前来理财,你不理财,财不理你~</h2>
		<p class="green">你当前的财务状况</p>
		随身携带: 银币 <?php echo intval( $user['g'] ) ?>枚 <!-- &nbsp; 金币 <?php echo intval( $user['gold'] ) ?>枚--><br/>
		银行帐户: 银币 <?php echo intval( $account['g_count'] ) ?>枚 <!--&nbsp; 金币 <?php echo intval( $account['gold_account'] ) ?>枚--><br/>
		<br/>
		<p class="green underline">转账</p>
		<p>请输你要转账的用户E-mail,要转让的银币数量.金币不可流通</p>
		<form action="/app/native/<?=$GLOBALS['app']?>/trasave" method="POST">
		<TABLE>
		<TR>
			<TD>对方E-mail:</TD>
			<TD><input class="text" name="email" type="text" value="" /></TD>
		</TR>
		<TR>
			<TD>银币枚数:</TD>
			<TD><input class="text" name="money" type="text" value="" /></TD>
		</TR>
		<!--
		<TR>
			<TD>转账类型</TD>
			<TD><INPUT TYPE="radio" NAME="gold" value="0" checked>银币<INPUT TYPE="radio" NAME="gold" value="1">金币</TD>
		</TR>-->
			<TR>
			<TD></TD>
			<TD><input type="submit" value="转账" class="button" /></TD>
		</TR>
		</TABLE>


		</form>
		<p>&nbsp;</p>
		
		<br/><br/>
		
		</div>		
	</div>
	<div id="pm_right">
	<?php @include_once( dirname( __FILE__ ) . '/public.tpl.html' ); ?>
	</div>

</div>
		
