body
{
	color:#555555;
	font-size:12px;
}

table
{
	margin-bottom:0px;
}
.p1
{
	padding:5px;
}

.p2
{
	padding:8px;
}

.m1
{
	margin:5px;
}

.l {float:left;}
.m {text-align:center;}
.r {float:right;}

ul, ol{list-style-type:none;}

.clear {clear:both;font-size:0;line-height:0;height:0px;}

input.text, input.text_small 
{
	border:1px solid #AAAAAA;
	color:#333333;
	font-family:arial,verdana,serif;
	font-size:12px;
	padding:5px;
	vertical-align:middle;
}

input.button
{
	background:#EEEEEE none repeat scroll 0%;
	border-color:#CCCCCC rgb(119, 119, 119) rgb(119, 119, 119) rgb(204, 204, 204);
	border-style:solid;
	border-width:1px;
	color:#fff;
	background:#0063DC;
	font-family:arial,verdana,serif;
	font-size:8pt;
	font-weight:bold;
	padding:5px;
	vertical-align:middle;
	cursor:pointer;
}

input.file 
{
	border:1px solid #AAAAAA;
	font-family:arial,verdana,serif;
	font-size:8pt;
	font-weight:bold;
	padding:5px;
	vertical-align:middle;
	cursor:pointer;

}

input.radio, input.checkbox 
{
	vertical-align:middle;
}

textarea 
{
	border:1px solid #AAAAAA;
	color:#333333;
	font-family:arial,verdana,serif;
	font-size:10pt;
	padding:5px;
}

select, select.small 
{
	color:#333333;
	font-family:arial,verdana serif;
	font-size:9pt;
	margin-top:1px;
	vertical-align:middle;
}

#logo
{
	
}

#top_nav
{
	text-align:right;
}

#top_spacer
{
	height:10px;
}

.f-top
{
	vertical-align:top;
	height:20px;
}

.f-bottom
{
	padding-top:10px;
	height:25px;
}

#ucontainer
{
	height:auto!important;
    height:400px;
    min-height:400px;
}

.gline
{
	border-bottom:1px solid #d8d8d8;
	margin-bottom:5px;
	padding-bottom:5px;
}

.gray
{
	color:gray;
}

.red
{
	color:red;
}

.green
{
	color:#0063DC;
}

a:link 
{
	color:#0063DC;
	text-decoration:none;
	padding:5px;
}

a:visited 
{
	color:#0063DC;
	text-decoration:none;
	padding:5px;
}

a:hover 
{
	color:#fff;
	background:#0063DC;
	text-decoration:none;
	padding:5px;
}

a.logo:hover 
{
	text-decoration:none;
	background:transparent;
}

/* tab list style  */
.tabs
{
	margin:0px;
	padding-left:10px;
	
	height:27px;
	border-bottom:1px solid #ccc;
	background:#f8f8f8;
	
}

.tabs li a
{
	text-decoration:none;
}

.tabs li a:hover
{
	color:#fff;
	text-decoration:underline;
}

.tabs li
{
	list-style-type:none;
	display:block;
	vertical-align:middle;
	float:left;
	
	background:#f8f8f8;
	height:14px;
	
	margin-left:3px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	
	border-top:3px solid #f8f8f8;
	/*
	
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	*/
}

.tabs li.out
{
	height:15px;
	background:white;
	border-top:3px solid #0063DC;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

.tabs li.out a:hover
{
	color:#0063DC;
	background:transparent;
}

.tabs li.link
{
	background:#f8f8f8;
	border:0px;
	float:right;
}

/* side menu list style  */
.sides
{
	margin:0px;
	/*background:#f8f8f8;*/

	
}

.sides li
{
	list-style-type:none;
	/*border-left: 1px solid #DDDDDD;*/
	
}


.sides li a
{
	vertical-align:middle;
	height:20px;
	/*background:#FFFFFF url(/static/images/side_menu_bg1.gif) top right repeat-y;*/
	/*margin-top:5px;*/
	padding-top: 5px;
	padding-left: 5px;
	display: block;
	/*border-top:1px solid #DDDDDD;*/
	border-left:3px solid #f8f8f8;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid #f8f8f8;
	
	
}

.sides li a:hover
{
	/*background:#F5F5F5 url(/static/images/side_menu_bg2.gif) top right repeat-y;*/
	background:white;
	color:gray;
	/*
	border-left:3px solid #0063DC;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-right: 0px solid #DDDDDD;
	width:160px;*/
}

.sides li.out
{
	/*border-right: 0px solid #DDDDDD;*/
	/*
	background:white;
	border-left:1px solid #dddddd;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-right: 0px solid #DDDDDD;*/
}

.sides li.out a
{
	background:white;
	border-left:3px solid #0063DC;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-right: 0px solid #DDDDDD;
	width:160px;
}

.sides_hd 
{
	/*background:#FFF url(/static/images/box_bg2.gif) top repeat-x;*/
	padding:5px;
	height:16px;
	/*border-bottom:1px solid #DDD;*/
	/*border-left:1px solid #DDD;*/
	/*border-right:1px solid #DDD;*/
	font-weight:bold;
	color:#0063DC;
	font-size:1.2em;
}

.post_time
{
	padding-left:10px;
	color:#999999;
	font-size:11px;
}

.post_time_iforum
{
	/* padding-left:10px; */
	color:#999999;
	font-size:11px;
}
/* box style */

.boxes
{
	border:0px solid #DDD;
}

.boxes .hd 
{
	/*background:#FFF url(/static/images/box_bg2.gif) top repeat-x;*/
	padding:3px;
	height:16px;
	/*border-bottom:1px solid #DDD;*/
	font-weight:bold;
	color:#0063DC;
	font-size:1.2em;
	/*border-bottom:1px solid #ccc;*/
	
}

.boxes .hd span 
{
	float:right;
}

.boxes .bd 
{
	padding:5px;
}

.boxes h4
{

	font-weight:normal;
	padding:5px;
	/*background:#F8F8F8;*/
	/*
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;*/
}

.boxes h4 span
{
	float:right;
}

p.item
{
	vertical-align:center;
}

.item label
{
	float:left;
	margin-right:10px;
	text-align:right;
	width:150px;
}

.act 
{
	margin-left:160px;
}

.hline
{
	line-height:150%;
}

#face_box
{
	width:100%;
}

#face_left
{
	width:150px;
	margin:5px;
	margin-right:10px;
	border-right:1px solid #D8D8D8;
	float:left;
}

#face_right_top 
{
	vertical-align:middle;
	min-height:60px;
	*height:60px;

}
#friend_search_box
{
	float:left;
	width:450px;
	text-align:center;
}
.l
{	
	float:left;
}
.r
{	
	float:right;
}
#friend_left, #miniblog_left , #pm_left ,#space_left, #app_left
{

	float:left;
	width:450px;

}
#friend_right, #miniblog_right , #pm_right , #space_right
{
	width:230px;
	float:left;
	padding-left:5px;
}

#pm_right
{
	margin-left:20px;
}


.rightcol
{
	width:250px;
}

#miniblog_right
{
/*
	margin-left:10px;
	padding-left:20px;
	border-left:1px solid #d8d8d8;
*/
}

#friend_list_box
{
	float:left;
	background:#f8f8f8;
	padding:5px;
	margin:5px;
}
.friend_box
{
	float:left;
	margin:3px;
	border:1px solid #cccccc;
	background:#ffffff;
}
.friend_box .box_left
{
	vertical-align: top;
	padding:10px;
	float:left;
}
.friend_box .box_right
{
	width:60px;
	vertical-align: top;
	padding:15px;
	float:right;
}
#miniblog_title
{
	font-size:140%;
	font-weight:600;
}
.message_box
{
	width:98%;
	float:left;
	background:#f8f8f8;
	padding:3px;
	margin:5px;
}
.message_reply_swich
{
	width:30px;
	float:right;
}
.long
{
	width:310px;
}
.message_box_img
{
	width:65px;
	margin:5px;
	margin-right:10px;
	border-right:1px solid #D8D8D8;
	float:left;
}
.message_box_left
{
	float:left;
	padding:6px;
}
.message_box_right
{
	width:5px;
	float:right;
	padding:6px;
}
.nickname
{
	font-size:110%;
	color:#FF0084;
}
.notice
{	
	padding:10px;
	margin:10px;
}
.pro_item label
{
	margin-left:5px;
	width:180px;
	float:left;
}
#ulist
{
	width:100%;
	float:left;
	margin:5px;
}
#ulist li
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#div-newMod
{
	position: absolute; 
	left: 650px; 
	top: 130px; 
	z-index: 510;
	BORDER: #ccc 10px solid;
	BACKGROUND: white; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 5px; 
	WIDTH: 300px; 
	PADDING-TOP: 3px;
}
.newMod_title
{
	FONT-WEIGHT: bold; 
	border-bottom:#ccc 1px solid;
	PADDING-BOTTOM: 5px; 

}
.newMod_close
{
	width:10px;
	float:right;
}
#div-newMod .subMenu-title {
	PADDING-RIGHT: 8px;  
	PADDING-LEFT: 8px; 
	PADDING-BOTTOM: 5px; 
	PADDING-TOP: 6px; 
	BORDER-BOTTOM: #ccc 1px solid; 
	width:100%;
}
.subMenu-widget
{
	width:120px;
	border:1px solid #ddd;
	float:left;
	padding:3px;
	margin:2px;
}
.widget_item
{
	width:100%;
	float:left;
	border-bottom:1px solid #ddd;
}
#div-newPage
{
	position: absolute; 
	BORDER: #ccc 10px solid; 
	BACKGROUND: white;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 5px; 
	WIDTH: 700px; 
	PADDING-TOP: 3px;
	height:300px;
}
.qmenu_pop
{
	text-align:left;
	BORDER-RIGHT: #ccc 1px solid; 
	BORDER-TOP: #ccc 1px solid; 
	BACKGROUND: white; 
	BORDER-LEFT: #ccc 1px solid; 
	BORDER-BOTTOM: #ccc 1px solid;
	/*padding:10px;*/
	position: absolute; 
	width:120px;
	overflow:hidden;
}

.quick_pop
{
		text-align:left;
		BORDER-RIGHT: #ccc 1px solid; 
		BORDER-TOP: #ccc 1px solid; 
		BACKGROUND: white; 
		BORDER-LEFT: #ccc 1px solid; 
		BORDER-BOTTOM: #ccc 1px solid;
		padding:5px;
		position: absolute; 
		width:60px;
		overflow:hidden;
	}	
}
#page_list
{
	padding:0px;
	margin:0px;
}
#page_list .left
{
	margin:10px;
	float:left;
	width:45%;
	border-right:1px solid #ccc;
	height:280px;
}
#page_list .right
{
	margin:10px;
	float:left;
	width:45%;
}
#page_layout_left
{
	float:left;
	width:120px;
	background:#f8f8f8;
	height:120px;
	margin:10px;
}
#page_layout_right
{
	float:left;
	width:40px;
}
.layout_set_right
{
	margin:1px;
	width:40px;
}
.view_layout
{
	margin:5px;
	height:80%;
	border:1px solid #000;
	background:#ccc;
}
#page_layout_left .view_layout label ,.view_items label
{
	width:33%;
	border-right:1px solid #e8e8e8;
	height:80%;
}
#page_layout_left .view_layout span ,.view_items span
{

	width:33%;
}
.view_items
{
	
	height:50px;
	background:#f8f8f8;
}

ul.uitem
{
	float:left;
	height:auto!important;
    height:380px;
    min-height:380px;
	margin:2px;
	padding:0px;
}
.old_pic_list
{
	padding:2px;
	float:left;
	text-align:center;
}

img.icon
{
	border:1px solid #c8c8c8;
	padding:1px;
}

.underline
{
	border-bottom:1px solid #ddd;
}

#status_edit
{
	display:none;
}

.friend_request
{
	border:1px solid #ccc;
	margin:5px;
	padding:5px;
	background:#efefef;
}

.friend_request li
{
	list-style-type:none;
	/*display:inline;*/
	margin-bottom:10px;
	margin-left:15px;
}

.minifeed_item
{
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:5px;
	line-height:16px;
}

#u2_notice_box
{
	background:#f8f8f8;
	border:1px solid #cccccc;
	padding:10px;
	margin:10px;
	display:none;
}

#u2_float_box
{
	background:#f8f8f8;
	border:1px solid #cccccc;
	padding:10px;
	margin:10px;
	display:none;
	position: absolute; 
	min-width:300px;
	min-height:30px;
	
}

#u2_live_chat
{
	position: absolute; 
	margin:10px;
	border:10px solid #eee;
	width:400px;
	background:#fff;
	z-index:99;
}

#guide_box
{
	position: absolute; 
	margin:10px;
	border:10px solid #0063DC;
	width:400px;
	background:#fff;
	z-index:99;
	padding:5px;
}

h2.imove
{
	cursor:move;
}

.chat_history
{
	height:100px;
	overflow-y:auto;
	border:1px solid #ccc;
	text-align:left;
	padding:10px;
}

.chat_item
{
	padding:5px;
	margin:5px;
	background:#f9f9f9;
}

.notice_item
{
	border-bottom:1px solid #eee;
	margin-bottom:5px;
}
.notice_old
{
	color:#DDD;
	border-bottom:1px solid #eee;
	margin-bottom:5px;
}
.notice_old a
{
	color:#DDD;
}

.notice_item_content
{
	padding:10px;
}

#w2_item_settings
{
	position: absolute; 
	margin:10px;
	border:10px solid #eee;
	width:276px;
	background:#fff;
	z-index:99;
	text-align:left;
}

.design_ul li
{
	list-style-type:none;
	margin-left:0px;
	/*padding:10px;*/
}

#design_form
{
	/*cursor:pointer;*/
	line-height:25px;
}

input.fitem_full
{
	width:245px;
}

textarea.fitem_full
{
	width:245px;
	height:40px;
}

.item_size_small
{
	width:150px;
}

select.item_size_small
{
	width:auto;
}

textarea.item_size_small
{
	height:60px;
}

.item_size_middle
{
	width:300px;
}

select.item_size_middle
{
	width:150px;
}

textarea.item_size_middle
{
	height:100px;
}


.item_size_large
{
	width:100%;
}

select.item_size_large
{
	width:300px;
}

textarea.item_size_large
{
	height:150px;
}


.tips
{
	cursor:pointer;
}

.tool-tip 
{
	color: #fff;
	width: 139px;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(/static/images/bubble.png) top left;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(/static/images/bubble.png) bottom right;
}

img.imove
{
	cursor:move;
}

ul.form_design_component
{
	margin-left:0px;
}

ul.form_design_component li
{
	list-style-type:none;
	display:block;
	margin:5px;
	margin-left:0px;
	/*border:1px solid red;*/
}

ul.form_design_component li a
{
	padding:10px;
	margin:5px;
}

ul.form_design_component li a:hover
{
	background:#eee;
	color:#000;
}

#yui-side
{
	border-right:1px solid #dddddd;
	/*margin-right:20px;*/
	background:#f8f8f8;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	height:auto!important;
    height:400px;
    min-height:400px;
}


.riki_body
{
	background:url(/static/images/bg_logo.gif) right bottom no-repeat;
}

#w2-main
{
	border-right:1px solid #dddddd;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	float:left;
	height:auto!important;
    height:400px;
    min-height:400px;
	width:720px;
	padding:10px;
	overflow-x:hidden;
	background:url(/static/images/bg_logo.gif) right bottom no-repeat;
}

.menu_active
{
	color:#0063DC;
	font-weight:bold;
	border-top:1px solid #0063DC;
	padding:5px;
}

.menu_active:hover
{
	color:#fff;
	background:#0063DC;
	padding:5px;
	border-top:0px solid #0063DC;
}


.app_top
{
	padding-top:5px;
	border-bottom:1px solid #dddddd;
	margin-bottom:15px;
	line-height:25px;
	color:#999999;	
}

.app_top h4
{
	font-weight:bold;
	color:#0063DC;
	font-size:1.2em;
}

h5.w2
{
	font-weight:bold;
	color:#0063DC;
	font-size:1.2em;
}

.green
{
	color:#0063DC;
}

.underline
{
	border-bottom:1px solid #cccccc;
	margin-bottom:5px;
}
.buy_invite_notice
{
	height:30px;
	line-height:30px;

}
.pro_pic_dispaly
{
	padding-right:100px;
	float:right;
}
#my_app_list label
{
	float:right;
}

.reply_layout
{
	display:none;
	border-left:1px solid #0063DC;
	padding-left:10px;
	clear:both;
}
#app_extra_input
{
	display:none;
	z-index:99;
	border:1px solid #ccc;
	padding:10px;
	margin:20px;
	width:600px;
	height:auto!important;
    height:300px;
    min-height:300px;
	background:white;
	position:absolute;
}
.app
{
	padding:10px;
}
.app label
{
	width:135px;
	height:25px;
	line-height:25px;
}
.warp
{
	word-break:break-all;
	overflow:hidden;
	text-align:center;
}

.u2-side
{
	width:640px;
	overflow:hidden;
}
.w-normal
{
	width:60px;
}
.makeid_text
{
	margin-left:40px;
}
.id_box
{
	margin-top:20px;
	margin-left:40px;
	margin-right:40px;
	border:1px solid #c8c8c8;
	padding:10px;
}
.id_title
{
	font-weight:bold;
	color:#009900;
	line-height:20px;
}
.id_time
{
	color:#999999;
	line-height:20px;
}
.id_back
{
	width:98%;
	height:60px;
	background-repeat:no-repeat;
	background-position:right bottom ;
}
.id_send_box
{
	text-align:center;
	display:none;
}
.snotice
{
	padding:10px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:#B6CAFF;
	border:1px solid #999;
}
#notice_box
{
	position: absolute; 
	margin:10px;
	border:10px solid #eee;
	width:400px;
	background:#fff;
	z-index:99;
}
.desgin_layout
{
	width:120px;
	float:left;
	text-align:center;
}
.desgin_layout table
{
	border:1px solid #ccc;
	padding:0;
}
.desgin_layout th, .desgin_layout td 
{
	border:1px solid #ccc;
	padding:0;
}
.state_button
{
	width:80px;
	height:21px;
	background:url(/static/images/design/state_button.png);
	float:left;
	line-height:20px;
	margin-left:5px;
	text-align:center;
	cursor:pointer;
}
.comments_title
{
	background-color:#F7F7F7;
	border-bottom:1px solid #D8DFEA;
	height:20px;
	line-height:20px;
}
.stars_view
{
	background:transparent url(/static/images/design/rate-stars.gif);
	display:-moz-inline-block;
	float:left !important;
	height:14px;
	margin:2px 0pt 0pt 0;
	width:50px;
	text-indent:-1000px;
}
.stars1{background-position:left -55px;}
.stars2{background-position:left -40px}
.stars3{background-position:left 43px}
.stars4{background-position:left 57px}
.stars5{background-position:left 0px}
.ditem
{
	height:auto!important;
    height:200px;
    min-height:200px;
}

.pager
{
	margin:5px;
	padding:5px;
}

.pager a
{
	border:1px solid #c6c6c6;
	padding:5px;
	height:10px;
	line-height:10px;
	margin:5px;
	text-decoration:none;
}

.pager a:hover
{
	text-decoration:none;
}

.hline
{
	line-height:150%;
}

.forum_post
{
	border-top:1px solid #ccc;
}

.install_red
{
	color:#fff;
	background:red;
	padding:5px;
	font-size:16px;
}

.app_item_div
{
	padding-top:10px;
	padding-bottom:10px;
}

.app_item_div textarea
{
	width:300px;
	height:60px;
}

.app_item_div input
{
	width:300px;
}

.app_item_div input.radio
{
	width:12px;
}


.app_display_div 
{
	padding-top:5px;
	padding-bottom:5px;
}
.app_user_div
{
	float:left;
	width:56px;
	padding-bottom:5px;

}
.rating{
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(/static/images/star-matrix.gif) no-repeat 0 0;
}
.star0 {background-position:0 0}
.star1 {background-position:0 -16px}
.star2 {background-position:0 -32px}
.star3 {background-position:0 -48px}
.star4 {background-position:0 -64px}
.star5 {background-position:0 -80px}

ul.rating li {
	cursor: pointer;
 /*ie5 mac doesn't like it if the list is floated\*/
	float:left;
	/* end hide*/
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	padding:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.s1 a {left:0;}
ul.rating li.s2 a {left:16px;}
ul.rating li.s3 a {left:32px;}
ul.rating li.s4 a {left:48px;}
ul.rating li.s5 a {left:64px;}


ul.rating li a:hover {
	z-index:2;
	width:80px;
	height:16px;
	padding:0;
	overflow:hidden;
	left:0;	
	background: url(/static/images/star-matrix.gif) no-repeat 0 0
}
ul.rating li.s1 a:hover {background-position:0 -96px;}
ul.rating li.s2 a:hover {background-position:0 -112px;}
ul.rating li.s3 a:hover {background-position:0 -128px;}
ul.rating li.s4 a:hover {background-position:0 -144px;}
ul.rating li.s5 a:hover {background-position:0 -160px;}

.notice_top
{
	width:98%;
	float:left;
	border-bottom:1px solid #ccc;
	padding-left:5px;
	margin-top:2px;
	text-align:left;
	padding:2px;
}
.notice_info
{
	padding-left:5px;
	margin-top:2px;
	text-align:left;
	padding:2px;
}
.cate_list , .brand_list
{
	line-height:150%;
}
.shop_item
{
	padding:5px;
}
.shop_buy_div
{
	line-height:300%;
	border:1px solid orange;
	background-color:#FFFFCC;
	padding:5px;
	width:240px;
}
.shop_search_div
{
	padding:10px;
	background-color:#e8e8e8;
}
.shop_item_para
{
	width:150px;
	line-height:150%;
	float:left;
}
.shop_item_para label
{
	width:40px;
	float:left;
}
.shop_info
{
	padding-left:10px;
	padding-top:10px;
}
.shop_reply_item
{
	float:left;
	width:98%;
	padding-left:15px;
	line-height:150%;
	border-bottom:1px dotted #e8e8e8;
	margin-bottom:5px;
}
.shop_rreplys
{
	color:orange;
}
.shop_viewed_list
{
	float:left;
	width:98%;
	border-bottom:1px dotted #e8e8e8;
}
.wishlist_button
{
	padding-left:10px;
}
.wloading
{
	border:10px solid #eee;
	background:#fff;
	padding:2px;
	margin:10px;
	position: absolute;
	width:300px;
}

.shop_ground
{
	color:#fff;
	background:#0063DC;
}



.money
{
	color:red;
}



/*___________user____________________*/

.message_public_block_margin
{
	margin-bottom:10px;
}

.space_img_padding
{
	padding:10px;
}

.space_news_bottom
{
	margin-bottom:5px;
}

.space_wall_bbs_top
{
	border-bottom:1px solid #eee;margin-bottom:5px;
}

.space_bbs_fengeline
{
	border-left:1px solid #eee;height:100%;padding-left:10px;width:350px;
}

.miniblog_u2_img_style
{
	margin:10px;
}

.miniblog_news_desp
{
	padding:10px;
}


/*_____________plugs_________________*/

.titles_style
{
	margin-top:5px;
}

.list_dig_rim
{
	float:left;width:99%;padding-bottom:5px;
}

.list_item_rim
{
	border:1px solid #ddd;float:left;width:99%; margin-top:5px;padding:5px;
}

.list_item_right_rim
{
	float:right;width:82%;
}

.list_item_small_title
{
	padding-left:5px;margin-top:4px;
}

.list_item_update_time
{
	margin-top:10px
}

.list_pager
{
	float:left;width:99%;padding-top:10px;height:30px;
}

.list_nothing
{
	margin:10px 1px;
}

.upload_file_style
{
	cursor:pointer;
}

/*____________system_widget__________________*/

.plugs_item_rim
{
	float:left;border:1px solid #ddd;width:98%;
	margin-bottom:5px;
}

.plugs_item_right_rim
{
	float:right;width:77%;
	margin:5px 5px;
}
.plugs_left_img
{
	float:left;
	padding:5px 5px;
}
.plugs_install_button
{
	margin:5px;
}

.plugs_name
{
	padding-top:4px;
}

.plugs_developer
{
	padding:4px 4px;
}

.plugs_widgets_big_rim
{
	margin-top:5px;
}

.plugs_widgets_rim
{
	float:left;padding-right:5px; width:65px;
}

.plugs_widgets_more
{
	padding-top:34px;float:left;
}

.plugs_update_time
{
	padding-top:34px;float:right;margin-right:5px;
}
.plugs_pager
{
	margin-top:10px;float:left;width:90%;
}

.servive_other_contack
{
	padding-left:5px;margin-top:5px;
}

.textarea_style
{
	line-height:18px;
}

.login_end
{
	min-height:55px;*height:55px;
}

.newuser_style
{
	padding:2px;
}

/*____________system_widget__________________*/

.design_display_bg
{
	background:#FF0084;
}
