<div class="app_top"><h4>悦读推荐</h4>
<div>请填写您推荐的博客地址</div></div>
<!-- 标题 -->
<div class="tabs">
<li class="out"><a href="/app/native/<?=$GLOBALS['app']?>/recommend/">推荐BLOG</a></li>
<li class="link"><a href="/app/native/<?=$GLOBALS['app']?>/">返回</a></li>
</div>
<div class="bline">
<form action="/app/native/<?=$GLOBALS['app']?>/recommend_save" method="post">
<INPUT TYPE="text" NAME="fblog" style="width:200px" value="http://" class="text">
<INPUT TYPE="submit" class="button" value="推荐">
</form>
</div>