<div class="box">
	<p class="admin_title"><?=_text('admin_setting_title')?></p>

	<ul class="tabs" >
	<li><a href="/admin/setting/"><?=_text('admin_setting_basc')?></a></li>
	<li  class="out"><?=_text('admin_setting_invite')?></li>
	<li><a href="/admin/payset/"><?=_text('admin_payset_title')?></a></li>
	<li><a href="/admin/mailset/"><?=_text('admin_mailset_title')?></a></li>
	</ul>

	<div class="box">
	<br/>
	<form action="/admin/setting/save/invite" method="post">
	<p class="admin_data"><label><?=_text('admin_invite_active')?></label><INPUT TYPE="radio" NAME="invite_active" value="1" <?php if( c('invite_active') == '1') echo 'checked';?> ><?=_text('system_yes')?>&nbsp;<INPUT TYPE="radio" NAME="invite_active" value="0" <?php if( c('invite_active') == '0') echo 'checked';?> ><?=_text('system_no')?></p>
	<p class="admin_data"><label><?=_text('admin_invite_buy_type')?></label><INPUT TYPE="radio" NAME="invite_use_gold" value="1" <?php if( c('invite_use_gold') == '1') echo 'checked';?> ><?=_text('system_gold_money')?>&nbsp;<INPUT TYPE="radio" NAME="invite_use_gold" value="0" <?php if( c('invite_use_gold') == '0') echo 'checked';?> ><?=_text('system_silver_money')?></p>

	<p class="admin_data"><label><?=_text('admin_invite_price')?></label><INPUT TYPE="text" NAME="invite_price" class="text" value="<?=c('invite_price');?>"></p>
			<p class="admin_data"><label><?=_text('admin_invite_limit')?></label><INPUT TYPE="text" NAME="invite_limit" class="text" value="<?=c('invite_limit')?>"></p>
	<p class="act"><INPUT TYPE="submit" class="button" value="<?=_text('system_submit')?>"></p>
	</form>
	</div>
</div>
