<div class="box">
	<p class="admin_title"><?=_text('admin_moneycard_title')?></p>
	<ul class="tabs" >
	<li><a href="/admin/cards/"><?=_text('admin_moneycard_title')?></a></li>
	<li  class="out"><?=_text('admin_makecard_title')?></li>

	</ul>
	<div class="box">
		<FORM action="/admin/savecard/" method="post">
		<br/>
		<P class="item"><LABEL><?=_text('admin_makecard_no')?></LABEL>&nbsp;<INPUT class="text" value="" name="number"></P>
		<P class="act"><INPUT class="button" type="submit" value="<?=_text('system_submit')?>"></P>
		</form>
	</div>
</div>






