<div class="box">
	<p class="admin_title"><?=_text('admin_data_title')?></p>

	<ul class="tabs" >
	<li><a href="/admin/plist/"><?=_text('admin_plist_title')?></a></li>
	<li><a href="/admin/data/"><?=_text('admin_data_pro_meta')?></a></li>
	<li class="out"><?=_text('admin_data_pro_cate')?></li>
	<li class="link"><img src="/static/images/plus.gif">&nbsp;<a href="/pro/add/" target="_blank"><?=_text('admin_plist_add');?></a></li>
	</ul>
	<p></p>

	<div class="cate_set">
		<p></p>
		
		<form action = "/admin/cates/save/" method="post">
		<p class="admin_cate_set"><label><SELECT NAME="do_action" id="do_action" onchange="admin_data_check_cate();"><OPTION VALUE="0"><?=_text('admin_data_cate_add_to');?><OPTION VALUE="1" SELECTED><?=_text('admin_data_cate_del');?><OPTION VALUE="2"><?=_text('admin_data_cate_modify');?></SELECT></label>&nbsp;<SELECT id="cate_id" NAME="cate_id" class="text" id="cate" onchange="admin_data_check_cate();">
			<OPTION VALUE="0" SELECTED><?=_text('admin_data_cate_root');?>
			<?php if($cates):?>
			<?php foreach ($cates as $c ):?>
			<OPTION VALUE="<?=$c['id'];?>"><?=$c['u2_cate_desc'];?>
			<?php endforeach;?>
			<?php endif;?>
			</SELECT>
			<span id="cate_input_name" style="display:none">
					<?=_text('admin_data_cate_name');?>:&nbsp;&nbsp;<INPUT onchange="javascript:admin_data_check_cate();" TYPE="text" id="cate_name" NAME="cate_name" class="text"></p>
			</span>
		</p>
	</div>
	<p></p>
	<div class="bd">
	<p><INPUT TYPE="submit" value="<?=_text('system_submit')?>" class="button" id="data_submit" disabled></p>
	</form>
	</div>
</div>
