<script type="text/javascript" src="/js/fck/fckeditor.js"></script>
<div class="box">
	<p class="admin_title">系统通知</p>

	<div  id="data_extra">
		<div>
		<form action="/admin/snotice_save" method="post">
		<TABLE>
		<TR>
			<TD valign="top">内容</TD>
			<TD><textarea name="desp" id="desp"  style="width:480px;height:120px"></textarea></TD>
		</TR>
		<TR>
			<TD>有效时间</TD>
			<TD><INPUT TYPE="text" NAME="start_time" value="<?=date('Y-m-d')?>" class="text" />&nbsp;-&nbsp;<INPUT TYPE="text" NAME="end_time" value="<?=date('Y-m-d',strtotime('+1 day'))?>" class="text" /></TD>
		</TR>
		<TR>
			<TD></TD>
			<TD><INPUT TYPE="submit" value="提交" class="button"></TD>
		</TR>
		</TABLE>
		</form>
		</div>
		<?php if( $list ):?>
		<TABLE width="100%">
		<TR>
			<TD>标题</TD>	
			<TD width="120px;">起始时间</TD>
			<TD width="120px;">结束时间</TD>
		</TR>
		<?php foreach($list as $v):?>
		<TR>
			<TD><span class="r"><a href="JavaScript:void(0)" onclick="javascript:ajax_del_confirm('/admin/del_snotice/<?=$v['id']?>');"><img src="/static/images/cross.gif"></a></span><a href="/admin/show_snotice/<?=$v['id']?>" target="_blank"><?=$v['title']?></a></TD>
			<TD width="120px;"><?=$v['start_time']?></TD>
			<TD width="120px;"><?=$v['end_time']?></TD>
		</TR>
		<?php endforeach;?>
		</TABLE>
		<br clear="all">
		<?=$pager;?>
		<?php else:?>
		<div class="notice">
		<p>没有系统通知</p>
		</div>
		<?php endif;?>
		
	</div>

</div>
<script>make_rich('desp' , 'Basic');</script>