<script type="text/javascript" src="/js/fck/fckeditor.js"></script>
<div class="app_top"><h4><?=$forum['name']?></h4>
<?=$forum['desp']?>	
</div>
<div class="l">
		<div class="tabs">
			
			<?php foreach( $tab_array  as $key=>$tab ) : ?>
			<?php if( $tab_type == $key ): ?>
			<li class="out"><a href="/app/native/<?=$GLOBALS['app']?>/<?php echo $key; ?>/<?php echo $fid; ?>"><?php echo $tab; ?></a></li>
			<?php else: ?>
			<li ><a href="/app/native/<?=$GLOBALS['app']?>/<?php echo $key; ?>/<?php echo $fid; ?>"><?php echo $tab; ?></a></li>
			<?php endif; ?>		
			<?php endforeach; ?>	
			<li class="link"><a href="JavaScript:history.back(1)">返回</a></li>
		</div>
		<div class="p2">
		<form action="/app/native/<?=$GLOBALS['app']?>/save/<?php echo $fid; ?>" method="post">
		<TABLE>
		<TR>
			<TD>标题</TD>
			<TD><input type="text" class="ititle_style text" name="title"></TD>
		</TR>
		<?php if($cate):?>
		<TR>
			<TD>分类选择</TD>
			<TD><SELECT NAME="type">
				<?php foreach($cate as $v ):?>
				<OPTION VALUE="0">无分类
				<OPTION VALUE="<?=$v['key']?>"><?=$v['desp']?>
				<?php endforeach;?>
			</SELECT></TD>
		</TR>
		<?php endif;?>
		</TABLE>
		<textarea name="desp" id="desp" wrap="hard" class="itextarea_style"></textarea>
		<br/><br/>
		<input type="submit" value="发布主题" class="button">&nbsp;&nbsp;&nbsp;&nbsp;
		</form>
		</div>		

</div>
<script>make_rich('desp' , 'Basic');</script>
		
